<div class="container">
    <div class="row">
        <div class="inner-main">
            <h2 class="mb-4">User Profile</h2>
            <p><strong>Avatar:</strong></p>
            <br>
            <img [src]="this.currentUser.avatar" width="300" height="300">
            <p><strong>Name:</strong>{{this.currentUser.name}}</p>
            <p><strong>Email:</strong>{{this.currentUser.email}}</p>
            <p><strong>Age:</strong>{{this.currentUser.age}}</p>
            <p><strong>Gender:</strong>{{this.currentUser.gender}}</p>
        </div>
    </div>
</div>